In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/raw_jobs.csv")
df.head()

,Unnamed: 0,Title,Company,Location,Rating,Date,Salary,Description,Links,Descriptions
0,0,Data Scientist,Driven Brands,"Benicia, CA",2.4,PostedPosted 26 days ago,NaN,You’ll be working alongside a team of eight an...,https://www.indeed.com/rc/clk?jk=74d176d595225...,We invite you to join us at Driven Brands!\nHe...
1,1,Business Analyst,Sabot Consulting,Remote,NaN,PostedPosted 4 days ago,$80 - $120 an hour,Preferred candidates will have prior experienc...,https://www.indeed.com/rc/clk?jk=f662b2efb509b...,Sabot Consulting (Sabot) is a management consu...
2,2,IT Business Intelligence Developer (FT) Remote...,Ballad Health,"Remote in Blountville, TN",3.0,PostedPosted 30+ days ago,NaN,Job Details Apply Save Print this job Email a…,https://www.indeed.com/rc/clk?jk=58612836c63b8...,Job Details\nApply\nSave\nPrint this job\nEmai...
3,3,Data Engineer,Longevity Holdings Inc.,"Remote in Minneapolis-Saint Paul, MN",NaN,PostedPosted 3 days ago,"$90,000 - $110,000 a year",Incorporate core data management competencies ...,https://www.indeed.com/company/TwentyFirst/job...,Position: Data Engineer\nLocation: MN\nAs a Da...
4,4,Network Administrator/dba developer,WKI Kenworth,"Wichita, KS 67219",NaN,EmployerActive 2 days ago,"$50,000 - $70,000 a year",The Network Administrator provides 2nd level e...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Full Job Description\nThe Network Administrato...

In [ ]:
df.shape
df.columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1200 non-null   int64
 1   Title         1200 non-null   object
 2   Company       1200 non-null   object
 3   Location      1200 non-null   object
 4   Rating        745 non-null    float64
 5   Date          1200 non-null   object
 6   Salary        582 non-null    object
 7   Description   1200 non-null   object
 8   Links         1200 non-null   object
 9   Descriptions  1200 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 93.9+ KB

In [ ]:
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
)

In [ ]:
df.columns.tolist()

['unnamed:_0',
 'title',
 'company',
 'location',
 'rating',
 'date',
 'salary',
 'description',
 'links',
 'descriptions']

In [ ]:
# dropping the junk column
df = df.drop(columns=['unnamed:_0'])

In [ ]:
# we have two 'description' columns 
df[['description', 'descriptions']].head()

,description,descriptions
0,You’ll be working alongside a team of eight an...,We invite you to join us at Driven Brands!\nHe...
1,Preferred candidates will have prior experienc...,Sabot Consulting (Sabot) is a management consu...
2,Job Details Apply Save Print this job Email a…,Job Details\nApply\nSave\nPrint this job\nEmai...
3,Incorporate core data management competencies ...,Position: Data Engineer\nLocation: MN\nAs a Da...
4,The Network Administrator provides 2nd level e...,Full Job Description\nThe Network Administrato...

In [ ]:
df = df.rename(columns={
    'title': 'job_title',
    'descriptions': 'job_description'
})

In [ ]:
# keeping the relevant columns 
important_cols = [
    'job_title',
    'company',
    'location',
    'salary',
    'job_description'
]

df = df[important_cols]

In [ ]:
# verification 
df.columns
df.head()

,job_title,company,location,salary,job_description
0,Data Scientist,Driven Brands,"Benicia, CA",NaN,We invite you to join us at Driven Brands!\nHe...
1,Business Analyst,Sabot Consulting,Remote,$80 - $120 an hour,Sabot Consulting (Sabot) is a management consu...
2,IT Business Intelligence Developer (FT) Remote...,Ballad Health,"Remote in Blountville, TN",NaN,Job Details\nApply\nSave\nPrint this job\nEmai...
3,Data Engineer,Longevity Holdings Inc.,"Remote in Minneapolis-Saint Paul, MN","$90,000 - $110,000 a year",Position: Data Engineer\nLocation: MN\nAs a Da...
4,Network Administrator/dba developer,WKI Kenworth,"Wichita, KS 67219","$50,000 - $70,000 a year",Full Job Description\nThe Network Administrato...

In [ ]:
# saving stage 1 clean data 
df.to_csv("data/clean_jobs_stage1.csv", index=False)

In [ ]:
df.isnull().sum()

job_title            0
company              0
location             0
salary             618
job_description      0
dtype: int64